.custom-testimonial-section {
    text-align: center;
    padding: 30px 20px;
    background: #ffffff;
    border: 1px solid #ddd;
}

.custom-testimonial-section p {
    font-style: italic;
    font-size: 1.3em;
}